<div class="address-search">
    <h3>{{ 'lbl.FindYourAddress'|trans|ucfirst }} <i class="fa fa-angle-right"></i>  </h3>
    <input id="searchBox" class="controls form-control" type="text" placeholder="{{ 'lbl.SearchBox'|trans|ucfirst }}">
</div>
<div id="map" class="parseMap"></div>